@model Gallery.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<p class="login-card-description">Register</p>
<form asp-action="Register">
    @Html.ValidationMessage("customError", new { @class = "text-danger" })
    <div class="form-group">
        <label asp-for="Email" class="sr-only"></label>
        <input placeholder="Email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="sr-only"></label>
        <input placeholder="Password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="sr-only"></label>
        <input placeholder="Confirm Password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Register" class="btn btn-block login-btn mb-4" />
</form>
<p class="login-card-footer-text">Already have an account? <a asp-controller="Account" asp-action="Login">Sign in</a></p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}